body{background-color: darkblue; font-family:'Times New Roman', Times, serif}

h1{color: white;text-align: center; font-size: 50px;}

img{width: 750px;height: 600px}

table, th, td{border: 3px solid white; color: white}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.mypara1{
    color: blue; 
    font-size: 16px;
    text-align: left;
}

.mypara2{
    color: violet; 
    font-size: 16px;
    text-align: left;
}